{{#section 'head'}}
<meta property="og:title" content="Community Guidelines" />
{{/section}}

<div style="background-color:#f7f7f7">
	<div class="container" style="padding-top:3rem;padding-bottom:3rem">
		<h1>Community Guidelines</h1>
		<hr>
		<h3>General</h3>
		<p>Anything done to disrupt normal operation of the site with reasonable intention to cause harm is due cause to have your account banned.</p>
		<h3>Programs</h3>
		<p>You are not allowed to create programs to reserve program IDs (/program/ID). You are also not allowed to programatically generate "Junk Programs", although you are allowed to programatically "import" programs from other sites if you would like.</p>
		<p>Abusing the program creation system will get you locked out of your account or potentially banned depending on severity. Keep in mind that banning strips you of your privledges to log into your account for an indefinite period.</p>
		<h3>User Accounts</h3>
		<p>You are not allowed to impersonate another user, either from KA or on CS Underground. Accounts found to be impersonations of another user will be renamed or potentially deleted.</p>
	</div>
</div>

{{#section 'prescripts'}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
{{/section}}