{{#section 'head'}}
<style>
	.prglist-btn-group {
		margin-bottom:1rem;
		width:100%;
	}
	.prglist-btn-group .btn {
		width:25%;
	}
</style>
{{/section}}
<section id="jumbo" class="jumbotron text-center">
    <div class="container">
        <h1 id="heading" class="jumbotron-heading">Browse Programs</h1>
        <p id="subtitle" class="lead text-muted">You'll find programs made by the CS Underground community below. Feel free to make your own and add to the pool.</p>
        <p>
            <a href="/new/program" class="btn btn-primary">New Program</a>
            <!--a href="javascript:void(0)" class="btn btn-primary">New Webpage</a>
        </p>
        <p-->
            <a href="javascript:void(0)" class="btn btn-secondary">Report a problem</a>
        </p>
    </div>
</section>


<div class="program-list text-muted">
    <div class="container">
	    {{#if session}}
		<div class="alert alert-info" role="alert">
			Join the discord for development updates, support and more! <a href="https://discord.gg/UZdvBEu" target="_blank">Click here to join!</a>
		</div>
		{{else}}
		<div class="alert alert-success" role="alert">
			You can now register for an account! Click the menu button above and then register to create one if you haven't already.
		</div>
		{{/if}}
		<div class="btn-group btn-group-lg prglist-btn-group">
		  <button id="hot" type="button" class="btn btn-light" onclick="loadPrograms('hot',0)">Hot</button>
		  <button id="top-voted" type="button" class="btn btn-light active" onclick="loadPrograms('top-voted',0)">Top Voted</button>
		  <button id="top-viewed" type="button" class="btn btn-light" onclick="loadPrograms('top-viewed',0)">Top Viewed</button>
		  <button id="recent" type="button" class="btn btn-light" onclick="loadPrograms('recent',0)">Recent</button>
		</div>
    	<h1 class="loading" style="text-align:center;">Loading...</h1>
        <div class="row" id="programs">
        </div>

    </div>
</div>


{{#section 'prescripts'}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
{{/section}}


{{#section 'postscripts'}}
	<script src="/js/programlist.js"></script>
	<script>
		function loadPrograms(type, page){
			$(".loading").text("Loading...");
			$(".loading").show();
			$("#programs").html("");
			$("#hot").removeClass("active");
			$("#top-voted").removeClass("active");
			$("#top-viewed").removeClass("active");
			$("#recent").removeClass("active");
			$("#" + type).addClass("active");
			$.getJSON("https://api.csunderground.org/v1/programs/" + type,function(data){
				$(".loading").hide();
				for(var i in data.programs){
					var program = data.programs[i];
					$("#programs").append(generateProgramCard(program))
				}
			}).fail(function() { 
				$(".loading").html("Failed to contact API!<br><h3 style=\"margin-top:10px\">If this issue continues to happen, please contact Loki for help.<br><a target=\"_blank\" href=\"https://discord.gg/UZdvBEu\">Discord Support</a></h3>");
			});
		}
		loadPrograms("hot",0);
	</script>
{{/section}}