{{#section 'head'}}
<style>
	.prglist-btn-group {
		margin-bottom:1rem;
		width:100%;
	}
	.prglist-btn-group .btn {
		width:25%;
	}
</style>
{{/section}}
<section id="jumbo" class="jumbotron text-center">
    <div class="container">
        <h1 id="heading" class="jumbotron-heading">Browse Programs</h1>
        <p id="subtitle" class="lead text-muted">You'll find programs made by the CS Underground community below. Feel free to make your own and add to the pool.</p>
        <p>
            <a href="/new/program" class="btn btn-primary">New Program</a>
            <a href="javascript:void(0)" class="btn btn-secondary">Report a problem</a>
        </p>
    </div>
</section>


<div class="program-list text-muted">
    <div class="container">
    	<!--div class="alert alert-success" role="alert">
			CS Underground will not be shutting down. Please continue to have fun on the site. :)
		</div-->
	    
		<div class="btn-group btn-group-md" id="sorters">
		  <button id="hot" type="button" class="btn btn-outline-secondary active" onclick="loadPrograms('hot',0)">Hot</button>
		  <button id="top-voted" type="button" class="btn btn-outline-secondary" onclick="loadPrograms('top-voted',0)">Votes</button>
		  <button id="top-viewed" type="button" class="btn btn-outline-secondary" onclick="loadPrograms('top-viewed',0)">Views</button>
		  <button id="recentUpdated" type="button" class="btn btn-outline-secondary" onclick="loadPrograms('recentUpdated',0)">Updated</button>
		  <button id="recentCreated" type="button" class="btn btn-outline-secondary" onclick="loadPrograms('recentCreated',0)">New</button>
		</div>
		<hr>
    	<h1 class="loading" style="text-align:center;">Loading...</h1>
        <div class="row" id="programs">
        </div>
        <button id="load-more" class="btn btn-secondary" style="width: 100%;margin-top: 2rem;display:none">Load More Programs</button>
    </div>
</div>


{{#section 'prescripts'}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
{{/section}}


{{#section 'postscripts'}}
	<script src="/js/programlist.js"></script>
	<script>
		var lastLoaded = "";
		var lastPage = 0;
		function loadPrograms(type, page){
			if(page === 0 || lastLoaded !== type){
				$(".loading").text("Loading...");
				$(".loading").show();
				$("#programs").html("");
				var buttons = $("#sorters button");
				for(var i = 0; i < buttons.length; i++){
					$(buttons[i]).removeClass("active");
				}
				$("#" + type).addClass("active");
			}
			lastPage = page;
			lastLoaded = type;
			$.getJSON("https://api.csunderground.org/v1/programs/" + type + "?page=" + (page+1),function(data){
				$(".loading").hide();
				for(var i in data.programs){
					var program = data.programs[i];
					$("#programs").append(generateProgramCard(program))
				}
				if(data.programs.length === 25){
					$("#load-more").attr("disabled",false).show();
				}else{
					$("#load-more").hide();
				}
			}).fail(function() { 
				$(".loading").html("Failed to contact API!<br><h3 style=\"margin-top:10px\">If this issue continues to happen, please contact Loki for help.<br><a target=\"_blank\" href=\"https://discord.gg/UZdvBEu\">Discord Support</a></h3>");
			});
		}
		loadPrograms("hot",0);
		$("#load-more").click(function() {
			$("#load-more").attr("disabled",true);
			loadPrograms(lastLoaded,lastPage+1);
		})
	</script>
{{/section}}