{{#section 'head'}}
	<style>
		.card {
			background-color:white;
			padding:20px;
		}
		.reset-container {
			padding-top:30px;
			padding-bottom:30px;
			background-color:#f7f7f7;
		}
		.btn-half {
			width:50%;
		}
	</style>
{{/section}}
<div class="reset-container">
	<div class="container">
		<center>
			<div class="card" style="width:30rem">
				<div class="card-block">
					<h2>Reset Password</h2>
					<div class="input-group" style="margin-top:20px">
					  <input id="secretcode" type="text" autocomplete="new-password" class="form-control" placeholder="Password Reset Code" aria-label="Password Reset Code">
					</div>
					<div class="input-group" style="margin-top:5px">
					  <input id="password" type="password" autocomplete="new-password" class="form-control" placeholder="New Password" aria-label="New Password">
					</div>
					<div class="input-group" style="margin-top:5px">
					  <input id="passwordconfirm" type="password" autocomplete="new-password" class="form-control" placeholder="Confirm New Password" aria-label="Confirm New Password">
					</div>
					<div id="resetErrContainer" class="text-muted" style="margin-top:10px; display:none;">
						<center id="resetErr">
							An error occured. Please try again.
						</center>
					</div>
					<div class="row" style="width:100%; margin-top:10px">
						<button id="reset" type="button" class="btn btn-danger col-12" disabled>Change Password</button>
					</div>
				</div>
			</div>
		</center>
	</div>
</div>
{{#section 'prescripts'}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
{{/section}}

{{#section 'postscripts'}}
	<script>
		if(location.search){
			$("#secretcode").val(location.search.substring(1)).hide().parent().css("marginTop","15px");
		}
		function changeCheck() {
			if($("#secretcode").val().length > 0 && $("#passwordconfirm").val() == $("#password").val()){
				$("#reset").prop("disabled",false);
			}else{
				$("#reset").prop("disabled",true);
			}
		}
		$("#passwordconfirm").on("input keyup paste",changeCheck);
		$("#password").on("input keyup paste",changeCheck);
		$("#reset").click(function() {
			$.post("https://csunderground.org/resetpassword?_=" + generateCacheOverride(),{
				code: $("#secretcode").val(),
				pass: $("#password").val()
			}, function(data, status){
				if(data.success){
					location.href="/";
				}else{
					$("#resetErr").text(data.error)
					$("#resetErrContainer").show();
				}
			});
		})
	</script>
{{/section}}